<div th:replace="/layout/header :: mainHead"></div>

<!-- Hero Section Begin -->
<section class="hero set-bg" data-setbg="img/hero/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="hero__text">
                    <div class="section-title">
                        <h2>Select Shop</h2>
                        <p>Please enter a search word.</p>
                    </div>
                    <div class="hero__search__form">
                        <input type="text" placeholder="Search..." id="query">
                        <button type="button" onclick="execSearch()">Search</button>
                    </div>
                    <!--<ul class="hero__categories__tags">
                        <li><a href="#"><img src="img/hero/cat-1.png" alt=""> Restaurent</a></li>
                        <li><a href="#"><img src="img/hero/cat-2.png" alt=""> Food & Drink</a></li>
                        <li><a href="#"><img src="img/hero/cat-3.png" alt=""> Shopping</a></li>
                        <li><a href="#"><img src="img/hero/cat-4.png" alt=""> Beauty</a></li>
                        <li><a href="#"><img src="img/hero/cat-5.png" alt=""> Hotels</a></li>
                        <li><a href="#"><img src="img/hero/cat-6.png" alt=""> All Categories</a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Blog Section Begin -->
<section class="news-post spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Search Results</h2>
                    <p>Checkout Latest News And Articles From Our Blog</p>
                </div>
            </div>
        </div>
        <div id="search-result-box" class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg">
                        <div class="listing__item__pic__tag">Popular</div>
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul class="blog__item__tags">
                            <li><i class="fa fa-tags"></i> Travel</li>
                            <li>Videos</li>
                        </ul>
                        <h5><a href="javascript:void(0)">Internet Banner Advertising Most Reliable</a></h5>
                        <ul class="blog__item__widget">
                            <li style="color: #f03250; font-weight: 700;"><i class="fa fa-won"></i>19th March, 2019</li>
                            <li>
                                <a href="javascript:void(0)"
                                   onclick='addProduct(${JSON.stringify(itemDto)})'>
                                    <i class="fa fa-check"></i> 관심 상품 등록</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<div th:replace="/layout/footer :: mainfooter"></div>